include includes/mixins/_mixins
doctype html
html

	include includes/_head
	body
		#wrapper.center-all
			.slideIt
				include includes/home/_home
				include includes/razon1/_razon1
				include includes/razon2/_razon2
				include includes/razon3/_razon3
				include includes/razon4/_razon4
				include includes/razon5/_razon5
				include includes/razon6/_razon6
				include includes/razon7/_razon7
				include includes/razon8/_razon8
				include includes/razon9/_razon9
		a(href="#")
			.logo_vw
		.telmeHow

		include includes/_scripts
