.holdView#raz1.topMeDwon(data-es="1")
	.view_port#razon1
		.holderAndsafe_Section.center-h#razon1_Safe
			.innerSafe
				.razonTitle
					p Razón <span> #1</span>
				h2 No tienes<br> que elegir un <br> solo estilo.
				.carhold
				.holdCopy.center-h
					h4 Deportivo y elegante<br> al mismo tiempo
					//- p El rediseño de Nuevo Jetta, que se <br>deriva de la máxima “menos es <br>más”, mantiene un balance perfecto <br>entre las proporciones de la <br>carrocería.<br> Así logra un carácter dinámico <br>expresivo y sofisticado.
					p El rediseño de Nuevo Jetta, que se deriva de la máxima “menos es más”, mantiene un balance perfecto entre las proporciones de la carrocería. <br>Así logra un carácter dinámico expresivo y sofisticado.
				.shareholder.center-h
					p COMPARTE ESTA RAZÓN:
					.holdBtns
						+shareIcon({name: 'facebook', id:'razon1fb'})
						+shareIcon({name: 'twitter', id:'razon1tw'})
		
