.holdView#raz6.topMeDwon(data-es="6")
	.view_port#razon6
		.holderAndsafe_Section.center-h#razon6_Safe
			.innerSafe
				.razonTitle
					p Razón <span> #6</span>
				h2  La distancias<br> parecen más<br> cortas.
				.carhold
				.holdCopy.center-h
					h4 Tan velos como<br> lo necesites.
					
					p Tener la seguridad de poder rebasar en cualquier momento es una de las cosas que más se agradecen en carretera.<br>El modo sport de Nuevo Jetta hace posible activar un aumento extra en la potencia del motor, aún cuando vas en movimiento.
				.shareholder.center-h
					p COMPARTE ESTA RAZÓN:
					.holdBtns
						+shareIcon({name: 'facebook', id:'razon1fb'})
						+shareIcon({name: 'twitter', id:'razon1tw'})
