.footer
	.safeIn
		.hLinks.topLinks.center-h
			a(href="#")
				.configuralo.fll
					p CONFIGURADOR
			.slash.fll
				p |
			.siguenosEn.fll
				p Siguenos:
				.holdIcones.fll
		.hLinks.medium.center-h
			a(href="#")
				.fist.fll
					p © Volkswagen México 2014
			.slash.fll
				p |
			a(href="#")
				.intern.fll
					p VW internacional
		.hLinks.btm.center-h
			a(href="#") 
				p Aspectos Legales y Avisos de Privacidad


