head
	meta( charset='utf-8' )
	meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
	title Nuevo Jetta, Volkswagen México.
	meta( name='description', content="Nuevo Jetta: elegante, deportivo e innovador. Te damos 9 poderosas razones para quererlo." )
	meta(name='keywords', content=" Jetta, Volkswagen, Deportivo, carro, coche, clasico, tecnología, tecnologia, abs, desempeño, rendimiento, transmision, transmisión, tiptronic, puebla, méxico, suspension, suspensión, Nuevo Jetta, diseño, elegante, faros, niebla, halógeno, halogeno, aluminio, bluetooth, electromecánica, sonido.")
	meta( name="robots", content="noindex, nofollow" )
	meta( name="robots", content=" noarchive" )
	meta( name='viewport', content='width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale= 0.5' )

	meta( property="og:url", content="http://www.jetta.mx")
	meta( property="og:title", content="Nuevo Jetta, Volkswagen México.")
	meta( property="og:description", content="Nuevo Jetta: elegante, deportivo e innovador. Te damos 9 poderosas razones para quererlo.")
	meta( property="og:image", content="http://www.jetta.mx/assets/images/share/VW_Golf_thumb_compartir.jpg")

	meta( itemprop='name', content='Vuelve el único, vuelve el Golf.')
	meta( itemprop='description', content='Nuevo Jetta: elegante, deportivo e innovador. Te damos 9 poderosas razones para quererlo.')
	meta( itemprop='image', content='"http://www.jetta.mx/assets/images/share/VW_Golf_thumb_compartir.jpg')

	link( rel="icon", type="image/png", href="#" )

	link( rel='stylesheet', type="text/css", href='css/main.css' )

	script( src='scripts/vendor/modernizr.custom.25133-min.js' )