script( src='scripts/vendor/TweenMax.min.js' )
script( src='scripts/vendor/jquery-2.1.1.min.js' )
//- script( src='scripts/vendor/jquery.xdomainajax.js' )
script( src='scripts/vendor/jquery.touchSwipe.min.js' )
//- script( src='scripts/vendor/iscroll-probe.js' )
script( src='scripts/vendor/vendor.bundle.min.js' )
script( src='scripts/main.js')