.holdView#raz9.topMeDwon(data-es="9")
	.view_port#razon9
		.holderAndsafe_Section.center-h#razon9_Safe
			.innerSafe
				.razonTitle
					p Razón <span> #9</span>
				h2  Se adapta<br> a tu estilo<br> de vida.
				.holdType
					h2 Jetta
					p Práctico y funcional. Ideal para quien <br> está en movimiento todo el dia.
					+configurame({link:'jetta'})
				.holdType
					h2 Trendline
					p Para quien disfruta sobresalir.<br> Con un motor más potente y detalles en la carrocería y el interior.
					+configurame({link:'Trendline'})
				.holdType
					h2 Confortline
					p Preparado para cualquier situación. <br>Con techo corredizo y faros de niebla.
					+configurame({link:'jetta'})
				.holdType
					h2 Sportline
					p Con modo sport para mayor potencia<br> y detalles deportivos en la carrocería <br> y el interior.
					+configurame({link:'Trendline'})
				.holdType
					h2 TDI
					p Innovación en rendimiento. Ideal<br> para quien se preocupa por el <br> ambiente o viaja por largas<br> distancias
					+configurame({link:'jetta'})


				.shareholder.center-h
					p COMPARTE ESTA RAZÓN:
					.holdBtns
						+shareIcon({name: 'facebook', id:'razon1fb'})
						+shareIcon({name: 'twitter', id:'razon1tw'})


		include ../_footer
