.holdView#raz4.topMeDwon(data-es="4")
	.view_port#razon4
		.holderAndsafe_Section.center-h#razon4_Safe
			.innerSafe
				.razonTitle
					p Razón <span> #4</span>
				h2 Para Nuevo Jetta<br> no hay malos<br> caminos.
				.carhold4
				.holdCopy.center-h
					h4 Estable en cualquier<br> tipo de terreno.
					//- p El rediseño de Nuevo Jetta, que se <br>deriva de la máxima “menos es <br>más”, mantiene un balance perfecto <br>entre las proporciones de la <br>carrocería.<br> Así logra un carácter dinámico <br>expresivo y sofisticado.
					p El dominio total del auto, aún en los caminos más irregulares, hacen de Nuevo Jetta el auto ideal para manejar en cualquier parte del país.
				.shareholder.center-h
					p COMPARTE ESTA RAZÓN:
					.holdBtns
						+shareIcon({name: 'facebook', id:'razon1fb'})
						+shareIcon({name: 'twitter', id:'razon1tw'})

