.holdView#raz8.topMeDwon(data-es="8")
	.view_port#razon8
		.halfD
		
		.holderAndsafe_Section.center-h#razon8_Safe
			.circlesMask
				.holdCircles.secuencia-1
					.circles.circle1.center-all
					.circles.circle2.center-all
					.circles.circle3.center-all
					.circles.circle4.center-all
					.circles.circle5.center-all
					.circles.circle6.center-all
					.circles.circle7.center-all
			.innerSafe

				.razonTitle
					p Razón <span> #8</span>
				h2  Refleja tu<br> personalidad.
				.carhold
				.holdPointer.center-h
					.circlesColor.color1(data-color="1")
					.circlesColor.color2(data-color="2")
					.circlesColor.color3(data-color="3")
					.circlesColor.color4(data-color="4")
					.circlesColor.color5(data-color="5")
					.circlesColor.color6(data-color="6")
					.circlesColor.color7(data-color="7")
				.holdCopy.center-h
					h4 Versatilidad a tu gusto.
					
					p Con una variada gama de colores en la carrocería y distintas combinaciones de telas y texturas, Nuevo Jetta se adapta para reflejar tu personalidad.
				.shareholder.center-h
					p COMPARTE ESTA RAZÓN:
					.holdBtns
						+shareIcon({name: 'facebook', id:'razon1fb'})
						+shareIcon({name: 'twitter', id:'razon1tw'})
