.holdView#raz3.topMeDwon(data-es="3")
	.view_port#razon3
		.holderAndsafe_Section.center-h#razon3_Safe
			.innerSafe
				.razonTitle
					p Razón <span> #3</span>
				h2 Reacciona<br> por ti.
				.carhold
				.holdCopy.center-h
					h4 Inteligente y<br> reactivo al camino.
					//- p El rediseño de Nuevo Jetta, que se <br>deriva de la máxima “menos es <br>más”, mantiene un balance perfecto <br>entre las proporciones de la <br>carrocería.<br> Así logra un carácter dinámico <br>expresivo y sofisticado.
					p La seguridad que tienes al volante depende mucho de los factores externos.<br>Los sistemas de asistencia de Nuevo Jetta intervienen en caso de ser necesario, hasta parecerá que los obstáculos son los que te esquivan.
				.shareholder.center-h
					p COMPARTE ESTA RAZÓN:
					.holdBtns
						+shareIcon({name: 'facebook', id:'razon1fb'})
						+shareIcon({name: 'twitter', id:'razon1tw'})

